<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <h1>NEW ARTICLE</h1>
  <form action="/articles" method="Post">
    <label for="Post-name">Title</label>
    <input id="nameID" type="text" name="title">
    <label for="Post-name">Body</label>
    <input id="priceID" type="text" name="body">
    <label for="Post-name">Author</label>
    <input id="inventID" type="text" name="author">
    <input type="submit" value="submit">
  </form>
</body>

</html>