<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <h1>EDIT PRODUCT</h1>
  <form action="/products/{{id}}?_method=PUT" method="POST">
    <label for="Put-name">Name</label>
    <input id="nameID" type="text" placeholder="{{name}}" name="name">
    <label for="Put-name">Price</label>
    <input id="priceID" type="text" placeholder="{{price}}" name="price">
    <label for="Put-name">Inventory</label>
    <input id="inventID" type="text" placeholder="{{inventory}}" name="inventory">
    <input type="submit" value="submit">
  </form>
</body>

</html>