<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <h1>NEW PRODUCT</h1>
  <form action="/products" method="Post">
    <label for="Post-name">Name</label>
    <input id="nameID" type="text" name="name">
    <label for="Post-name">Price</label>
    <input id="priceID" type="text" name="price">
    <label for="Post-name">Inventory</label>
    <input id="inventID" type="text" name="inventory">
    <input type="submit" value="submit">
  </form>
</body>

</html>